BlazorTests.Client/bin/
BlazorTests.Client/obj/
BlazorTests.Common.Data/bin/
BlazorTests.Common.Data/obj/
BlazorTests.Common.Technical/bin/
BlazorTests.Common.Technical/obj/
BlazorTests.Server/bin/
BlazorTests.Server/obj/
BlazorTests.Server.Entities/DatabaseSpecific/bin/
BlazorTests.Server.Entities/DatabaseSpecific/obj/
BlazorTests.Server.Entities/DatabaseGeneric/bin/
BlazorTests.Server.Entities/DatabaseGeneric/obj/
BlazorTests.Shared/obj/
BlazorTests.Shared/bin/
BlazorTests.Common.Technical/obj/
BlazorTests.Common.Technical/bin/
BlazorTests.Server.Entities/DatabaseSpecific/obj/
BlazorTests.Server.Entities/DatabaseSpecific/bin/
.vs/BlazorTests/v15/Server/sqlite3/storage.ide
.vs/BlazorTests/v15/Server/sqlite3/db.lock
.vs/BlazorTests/v15/Server/sqlite3/storage.ide-shm
.vs/BlazorTests/v15/Server/sqlite3/storage.ide-wal
.vs/BlazorTests/v15/.suo
.vs/config/applicationhost.config
BlazorTests.Client/BlazorTests.Client.csproj.user
*/bin/
*/obj/
*.vs/
*.csproj.user
